.container {
    width: 90%;
    height: 200px;
    background: #b8d5ce;
    border-radius: 5px;
    padding: 0 20px;
    margin: auto;

  }
  
  h3 {
    text-align: left;
    padding-left: 10px;
    margin: 10px 0;
  }
  