.container {
    width: 90%;
    height: 185px;
    background: #FFF6E6;
    border-radius: 5px;
    padding: 0 20px;
    margin: auto;

  }
  
  /* h3 {
    text-align: left;
    padding-left: 10px;
    margin: 10px 0;
  } */
  