.item {
  background:#fff6e6;
  border-radius: 5px;
  margin: 0px;
  margin-bottom:4px;
  margin-top:4px;
  width: auto;
  padding: 10px 30px;
  text-align: center;
  color: #385a7c;
  /* box-shadow: 0 1px 0 rgba(9, 45, 66, 0.25); */
}

.item:hover {
  cursor: pointer;
  background: #13b5ea;
  color:#FFF6E6

}
