
.HomePaper1{
    height: 90vh;
    /* background:#262626; */
    background-image: url("https://sv1.picz.in.th/images/2021/04/06/AW3cKa.png");
    box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.03);
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.Paper1Content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: linear-gradient(0deg, rgba(46, 38, 38, 0.2), rgba(46, 38, 38, 0.2));
    backdrop-filter: blur(20px);
    height: 100%;
}

.TextTitle{
    font-family: Lobster;
    font-size: 36px;
    font-weight: bold;
    color: #ffff;
    padding:30px;
    margin-bottom: 20px;
    background: linear-gradient(0deg, rgba(46, 38, 38, 0.5), rgba(46, 38, 38, 0.7));
    backdrop-filter: blur(20px);
    border-radius: 20px 0px 20px 0px;
    cursor: pointer;
}

.DialogTitle{
    padding: 20px 20px 30px 30px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    background: linear-gradient(0deg, rgba(46, 38, 38, 0.8), rgba(46, 38, 38, 0.8));

    backdrop-filter: blur(54.37px);
}

.TypoContent{
    background: linear-gradient(0deg, rgba(245, 245, 245, 0.6), rgba(245, 245, 245, 0.6));
    backdrop-filter: blur(54.37px);
    border-radius: 20px;
}

.MapWrapper{
    background: linear-gradient(0deg, rgba(46, 38, 38, 0.6), rgba(46, 38, 38, 0.6));
    backdrop-filter: blur(20px);
}

.MapTitle{
    font-family: "Kanit";
    font-size: 18px;
    font-weight: bold;
    color: #ffff;
    margin:0px;
    padding:30px;
    display: flex;
    align-items: center;
    background: linear-gradient(0deg, rgba(46, 38, 38, 0.7), rgba(46, 38, 38, 0.7));
    backdrop-filter: blur(20px);
    cursor: pointer;
}

